*{
    font: lato;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    background: url('') no-repeat;
}
.main-container{
    justify-content: center;
    align-items: center;
    background:#b0deb5;
    color: #002605;
    width: 70%;
    height: 100%;
    padding: 30px 40px;
}
.main-container h1{
    font-size: 2.25em;
    text-align: center;
    justify-content: center;
    color: #002605;
}
.container1{
    justify-content: left;
    align-items: left;
    color: #002605;
    width: 50%;
    height: 100%;
    padding: 30px 40px;

}
.container1 h2{
    font-size: 0.937em;
    text-align: left;
    justify-content: center;
    color: #002605;
    width: 100%;
    border-bottom: #002605 solid;
    border-width: 2px;
}
.container1 .wrapper{
    width: 100%;
    height: ;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
} 
.options input{
    display: none;
}   

.container1 .wrapper .options{
    width: ;
    height: ;
    background: transparent;
    margin: 15px;
    padding: 10px 0 10px;
    display: flex;
    align-items: left;
    border: 2px solid #002605;
    position: relative;
}
.container1 .wrapper .options label{
    font-size: 0.9em;
    margin-left: 5px;
}
.container1 .wrapper .options label::after{
    content: "";
    position: absolute;
    right: 3%;
    width: 15px;
    height: 15px;
    border: 2px solid #002605;
    border-radius: 50%;
    cursor: pointer;
}
.container1 .wrapper .options label::before{
    content: "";
    position: absolute;
    top: 34.5%;
    right: 3%;
    transform: translate(-20%);
    width: 13px;
    height: 13px;
    background-color: #002605;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.4s;   
}
.options input:checked ~ label::before{
    opacity: 1;
}
.horizontal-line{
    width: 100%;
    height: 3px;
    margin-top: 18px ;
    margin-bottom: 5px;
    background-color: #002605;
    color: #002605;
}
.confirm{
    width: 100%;
    height: 30px;
    background: transparent;
    border: 2px solid #002605;
    outline: none;
    border-radius: 10px;
    color: #002605;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.confirm:hover{
    color: #b0deb5;
    background-color: #002605;
}
.container2{
    justify-content: right;
    display: flex;
    align-items: right;
    color: #002605;
    width: 50%;
    height: 100%;
    padding: 30px 40px;
    border: 2px solid;
}


h3{
    font-size: 0.937em;
    text-align: left;
    justify-content: center;
    color: #002605;
    width: 100%;
    border-bottom: #002605 solid;
    border-width: 2px;
}
input{
    border: #002605 solid;
    border-width: 2px;

}
